.video-player-container {
  position: relative;
  width: 100%;
  height: 75vh;
  background-color: #000;
}

.video-element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-player-container.hide-controls .video-controls-container {
  opacity: 0;
  pointer-events: none;
}

.no-video-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.no-video-selected p {
  color: var(--text-secondary);
  font-size: 1.2rem;
}
