.video-player-container {
  position: relative;
}

.video-player-container.hide-controls .video-controls-container {
  opacity: 0;
  pointer-events: none;
}

.no-video-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #000;
}

.no-video-selected p {
  color: var(--text-secondary);
  font-size: 1.2rem;
}
