@keyframes slideDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.app {
  max-width: 1200px;
  width: 90vw;
  max-height: 600px;
  height: 90vh;
  margin: 0 auto;
  padding: 40px 20px;
  animation: slideDown 0.5s ease-out;
}

.container {
  display: flex;
  gap: 30px;
  align-items: stretch;
}

.list-wrapper {
  flex: 1;
  overflow-y: auto;
}

.player-wrapper {
  flex: 2.5;
  overflow: hidden;
}