@keyframes slideDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.app {
  max-width: 1300px;
  width: 95vw;
  max-height: 700px;
  height: 95vh;
  margin: 0 auto;
  padding: 0 20px;
  animation: slideDown 0.5s ease-out;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.container {
  display: flex;
  gap: 30px;
  align-items: stretch;
  height: 100%;
}

.list-wrapper {
  flex: 1;
  overflow-y: auto;
}

.player-wrapper {
  flex: 2.5;
  overflow: hidden;
}

/* Custom Scrollbar */
.list-wrapper::-webkit-scrollbar {
  width: 8px;
}

.list-wrapper::-webkit-scrollbar-track {
  background: #2a2a2a;
  border-radius: 10px;
}

.list-wrapper::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

.list-wrapper::-webkit-scrollbar-thumb:hover {
  background: #777;
}